cache/*
log/*
web/uploads/*
config/databases.yml
config/propel.ini
data/sql/*
lib/filter/doctrine/base/Base*
lib/filter/doctrine/*Plugin/base/Base*
lib/form/doctrine/base/Base*
lib/form/doctrine/*Plugin/base/Base*
lib/model/doctrine/base/Base*
lib/model/doctrine/*Plugin/base/Base*
lib/model/om/*
lib/model/map/*
web/*Plugin/*
ignoredir/*


# Numerous always-ignore extensions
*.bak
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
.sass-cache

# OS or Editor folders
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
.tmproj
nbproject
*.sublime-project
*.sublime-workspace

# Dreamweaver added files
_notes
dwsync.xml

# Komodo
*.komodoproject
.komodotools

# Espresso
*.esproj
*.espressostorage

# Rubinius
*.rbc

# Folders to ignore
.hg
.svn
.CVS
.idea
